aiohttp
annotated-types==0.7.0
aiofiles==24.1.0
web3
eth-typing==5.2.0
eth-utils==5.2.0
types-requests==2.32.0.20250301
better-proxy==1.1.5
aiohttp-socks
loguru
eth-account
Pygments==2.19.1
annotated-types==0.6.0
fake-useragent
multidict==6.1.0
colorama
eth_abi==5.2.0
frozenlist==1.5.0
beautifulsoup4==4.12.3
pydantic_core==2.16.3
PySocks==1.7.1
typing_extensions==4.12.2
aiosignal==1.3.1
requests